@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<<h2 align="center">Creating Survey</h2>


Enter Question: <br />
<textarea rows="4" cols="50"></textarea><br /
<input type ="submit" />

